#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.loginForm {
  margin: 10rem 10rem;
  min-width: 10em;
  width: 20rem;
  text-align: center;
  vertical-align: middle;
}

.smallButton {
  font-size: 0.8em;
}

.inputText {
  font-size: 1.3em;
  width: 100%
}

button {
  margin: 0.5em;
}